html, body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.4vw;
  color: #08B304;
  overflow: hidden;
}

.background {
  background-image: url("../resources/background_screen.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.hide{
  display: none;
}

.terminal {
  border-radius: 8%;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: auto;
  width: 50%;
  padding: 2%;
}

#attempts, #title {
  margin-bottom: 2%;
  margin-top: 0;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#root {
  display: flex;
}

.col1 {
  float: left;
  width: 14%;
  margin: 0;
  order: 1;
}

.col2 {
  float: left;
  width: 23%;
  margin: 0;
  order: 2;
}

.col3 {
  float: left;
  width: 14%;
  margin: 0;
  order: 3;
}

.col4 {
  float: right;
  width: 23%;
  margin: 0;
  order: 4;
}

.input {
  float: right;
  order: 5;
  width: 26%;
  margin: 0;
}

.word:hover {
  background-color: #08B304;
  color: black;
}

#endPanel {

  position: relative;
}

/* Responsive styles and media query */
@media (orientation: portrait) {
  #rotate{
    display: block !important;
    font-size: 5vh;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 75%;;
  }
  #gamePanel{display:none;}
  .background{background: black;}
}

@media only screen and (max-width: 1250px) and (min-width: 1150px) {
  body{
    font-size: 2.2vh;

  }
  .terminal {
    margin-top: 10vw;
    margin-left: 20%;
    width: 55%;
  }
}
@media only screen and (max-width: 1150px) and (min-width: 900px) {
  body{
    font-size: 2.5vh;

  }
  .terminal {
    margin-top: 8vw;
    margin-left: 18%;
    width: 65%;
  }
}
@media only screen and (max-width: 900px) and (min-width: 800px)  {
  body{
    font-size: 2.5vh;

  }
  .terminal {
    margin-top: 12vw;
    margin-left: 7%;
    width: 85%;
  }
}
