html, body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.4vw;
  color: #08B304;
  overflow: hidden;
}

.background {
  background-image: url("../resources/background_screen.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.hide{
  display: none;
}

.terminal {
  border-radius: 8%;
  margin-left: 25%;
  margin-right: auto;
  /* margin-top: 5vw; */
  margin-bottom: auto;
  width: 45%;
  padding: 25px 15px;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#terminal {
  font-size: 1.4vw;
}

#cursor {
  flex-direction: column;
  position: absolute;
  bottom: -5%;
}

#cursor p {
  height: auto;
}

#prompt-position {
  flex-direction: column;
  position: relative;
}

#prompt {
  flex-direction: column;
}

#prompt-position p {
  display: inline-block;
  margin-right: 5px;
}

#attempts, #title {
  margin-bottom: 10px;
  margin-top: 0;
}

#root {
  display: flex;
}

.col1 {
  float: left;
  width: 14%;
  margin: 0;
  order: 1;
}

.col2 {
  float: left;
  width: 23%;
  margin: 0;
  order: 2;
}

.col3 {
  float: left;
  width: 14%;
  margin: 0;
  order: 3;
}

.col4 {
  float: right;
  width: 23%;
  margin: 0;
  order: 4;
}

.input {
  float: right;
  order: 5;
  width: 26%;
  margin: 0;
}

.word:hover, .symbol:hover {
  background-color: #08B304;
  color: black;
}

#endPanel {
  position: relative;
}

#rankigForm{
  text-align: center;
}

#rankigForm input[type=text]{
  border: 3px solid #08B304;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

#rankigForm input[type=image]{
  margin-top: 10px;
  color: #08B304;
  display: inline-block;
  
}

/* Test only */
.symbol{
  color: red;
}
.word{
  color:yellow;
}
